<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Vibration permission for haptic feedback -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoinFlip"
        tools:targetApi="34">

        <!-- Main Activity (launched from app icon) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CoinFlip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Coin Flip Activity (launched from widget tap) -->
        <activity
            android:name=".CoinFlipActivity"
            android:exported="false"
            android:theme="@style/Theme.CoinFlip.Transparent"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleInstance" />

        <!-- Widget Provider -->
        <receiver
            android:name=".CoinFlipWidgetProvider"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.aapp.coinflip.ACTION_FLIP_COMPLETE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/coin_flip_widget_info" />
        </receiver>

    </application>

</manifest>
